.hero {
  height: 70vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px;
}
.hero_image{
  width: 50%;
  height: 100%;
  position: relative;
}
.hero_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
  text-align: left;
  gap: 20px;
  padding: 50px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 10px;
}
.shop_button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.shop_button:hover {
  background-color: #333;
}
.featured{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 2px;
}
.featured_products{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}